<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/Foto/DSC_1336.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/Foto/DSC_1506.jpg" class="d-block w-100" alt="Garda">
    </div>
    <div class="carousel-item">
      <img src="/assets/Foto/DSC_2662.jpg" class="d-block w-100" alt="Korfu">
    </div>
  </div>
</div>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid atque beatae voluptatum. Dicta laudantium quidem
  reiciendis tempore! Adipisci alias cupiditate deleniti deserunt dolor dolore ea earum, est eum expedita fuga hic illum
  incidunt inventore ipsa ipsam iste iure modi, nostrum, officia officiis placeat quia quis quos repellat sit
  temporibus. Alias animi at, cum distinctio doloribus eaque eos eum exercitationem facilis illo impedit incidunt iusto
  laboriosam, laborum maiores maxime nobis non odit officia praesentium quaerat quam quas sed sequi tempora unde
  voluptate voluptatum. A asperiores at culpa deserunt distinctio dolores dolorum est quas quisquam quod repellendus,
  sed temporibus tenetur ullam veniam!
</p>
